# Python virtual environments
venv/
*/venv/
**/venv/

# Python cache
__pycache__/
*.pyc

# Go build/cache files
backend/bin/
backend/pkg/

# Docker artifacts
*.log
*.pid

.env
llm_service/.env

# Ignore system/editor files
.DS_Store
.idea/
.vscode/

# (Optional) Ignore compiled Go binaries
*.exe
*.out
